._upcolor {
  color: #22e742 !important;
}
._upbg {
  background: #22e742 !important;
}
.popup {
  padding: 20px;
  /*height: 700px;*/
  width: 400px;
  overflow: hidden;
}

.options {
  width: 600px;
  height: 600px;
}
.textarea {
  width: 100%;
  height: 100px;
  color: rgb(68, 68, 68);
}

.label._textarea {
  width:100%;
}

#ex1Slider .slider-selection {
  background: #BABABA;
}

.authorization {
  /*position: absolute;*/
  /*right: 20px;*/
  /*top: 20px;*/
  font-weight: 700;
}
._authorized {
  color: green;
}
._not-authorized {
  color: red;
}

.work-mode {

}
  .work-mode__title {
    display: inline-block;
    width: 100px;
    font-size: 18px;
  }
  .work-mode__switcher {
    display: inline-block;
    width: 170px;
  }

.projects {
  overflow: auto;
  height: 420px;
  padding-bottom: 20px;
}

.options {
  padding: 20px;
}
  .options__row {
    margin-bottom: 0;
    overflow: hidden;
  }
  .options__col {
    margin-top: 0;
    height: 40px;
  }
  .option__switcher {
    width: 150px;
    display: inline;
    float: right;
  }

  .options__slider-input {
    position: absolute;
    left: -9999px;
  }
  .options__slider-wrapper {
    position: relative;
    top: 10px;
    padding: 0 20px;
    height: 40px;
  }
  .options__select-wrapper {
    height: 50px;
    padding: 0 20px;
  }

  .btn,
  .btn:hover {
    background-image: none !important;
  }